@import '../../styles/settings.scss';

.nav {
  background-color: darken($color-dark, 3%);
}

.container {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin: 0 auto;
}

.link {
  color: $color-light;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.icon {
  font-size: 24px;
  color: $color-light;
  margin-right: 20px;
    font-size: 24px;
  font-weight: bold;
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  margin-left: 20px;
  font-size: 24px;
  font-weight: bold;
  color: $color-light;
  text-decoration: none;
}
.linkActive {
  margin-left: 20px;
  font-size: 24px;
  font-weight: bold;
  color: $color-warning;
  text-decoration: none;
}